name: Main Build AWS

on:
  push:
    branches:
      - main

jobs:
  build_aws:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Checkout código
        uses: actions/checkout@v2

      - name: Configurando AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'us-east-2'

      - name: Encontrar diretório
        run: ls

      - name: Deploy na AWS
        run: |
          pwd
          whoami
          ls -al
          chmod +x ./deploy.sh
          ./deploy.sh

      - name: Deploy realizado com sucesso
        if: success()
        run: echo 'Deployment successful!'